</style>

/* Arquivo CSS externo */

body {
  font-family: Arial, sans-serif;
  background-color: #ec0d0d;
}

.navbar {
  background-color: rgb(212, 15, 15);
  color: #fff;
}

/* Adicione mais regras CSS aqui */


    </style>