body {
    background-color: #363575;
  }

  h1 {
    color: black;
    font-size: 46px;
  }
  p {
    color: rgb(247, 242, 242);
    font-size: 26px;
  }

  <!-- stilo do banner  -->
  <style>
  .banner {
    text-align: left;
    padding: 20px 0;
  }    
    .banner img {
      width: 100%;
      max-width: 120px;
    }

    <!-- Stilo do formulario -->
    #contact {
      background-color: rgb(54, 53, 117);
      padding: 50px 0;
    }
    
    #contact h2 {
      text-align: center;
      color: rgb(0, 0, 0);
      margin-bottom: 50px;
    }
    
    #contact form {
      max-width: 600px;
      margin: 0 auto;
      text-align: center;
    }
    
    #contact .form-group {
      margin-bottom: 25px;
    }
    
    #contact label,
    #contact input,
    #contact textarea {
      width: 100%;
      padding: 10px;
      font-size: 16px;
      box-sizing: border-box;
      border-radius: 5px;
      border: none;
      color: rgb(0, 0, 0);
    }
    
    #contact input[type="text"],
    #contact input[type="email"] {
      background-color: rgb(255, 255, 255);
    }
    
    #contact textarea {
      background-color: rgb(255, 255, 255);
      height: 150px;
      resize: none;
    }
    
    #contact button[type="submit"] {
      background-color: rgb(255, 255, 255);
      color: rgb(54, 53, 117);
      padding: 10px 20px;
      border-radius: 5px;
      border: none;
      font-size: 16px;
      cursor: pointer;
    }

    
  </style>
  

  
  
  