body {
    background-color: rgb(54, 53, 117);
  }

  h1 {
    color: black;
    font-size: 46px;
  }
  p {
    color: rgb(247, 242, 242);
    font-size: 26px;
  }

    
  <style>
  .banner {
    text-align: left;
    padding: 20px 0;
  }    
    .banner img {
      width: 100%;
      max-width: 120px;
    }

    .banner {
      animation: banner-slide 10s infinite;
    }
    
    @keyframes banner-slide {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(20%);
      }
    }
    
  </style>
  

  
  
  