/* Arquivo CSS externo */

body {
  font-family: Arial, sans-serif;
  background-color: #e61414;
}

.navbar {
  background-color: rgb(240, 17, 17);
  color: rgb(238, 18, 18);
}

/* Adicione mais regras CSS aqui */
